/* 전체 영역을 바꿈*/
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap');

*{
    font-family: 'Nanum Pen Script', cursive;
}
body{
   
    background-color: #ffeaa7;
}
a{
    color: #000000;
    text-decoration: none;
}

a:hover{
    color: white;
    cursor: pointer;
    
}

/* 내비게이션영역 */
.navbar-default{
    background-color: #fab1a0;
    font-size: 30px;
    

}
.navbar-default .navbar-brand{
   font-size: 50px;
   color: black;

}
 
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{
    color:white;
    background-color: #ff7675;

}
.navbar-default .navbar-nav > li >a{
    color: black;
}
.navbar-default .navbar-nav > li >a:hover
 {
    color:white;
    

}

 
.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus{
  
    color:white;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a{
    font-size: 25px;
     
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a{
   background-color: #fab1a0;
   
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
    color: white;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus{
     
    background-color: #ff7675;
    text-decoration: none;

}
.navbar-default .form-group .form-control::placeholder,
.navbar-default .form-group button{
    font-size:20px;
}

/* 컨테이너 부분*/
.container .jumbotron{
    background-color: #ffeaa7;

}
@media (max-width: 767px){

    .navbar-default .navbar-nav .open .dropdown-menu > li > a{
        font-size: 25px;
        color: black;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
        color: white;
    }
}
